@model List<PersonResponse>
@{
    ViewBag.Title = "Persons";

}


<form action="~/persons/index" method="get">
    <h1>Persons</h1>

    <div class="box flex">

        <div class="flex-1">
            <select class="form-input" name="filterBy">
                @foreach (KeyValuePair<string, string> option in ViewBag.FilterByOptions)
                {

                    if (ViewBag.CurrentFilterBy == option.Key)
                    {
                        <option value="@option.Key" selected>
                            @option.Value
                        </option>
                    }

                    {
                        <option value="@option.Key">
                            @option.Value
                        </option>
                    }

                }
            </select>

        </div>
        <div class="flex-1">
            <input type="search" id="Search" class="form-input" placeholder="Search" name="filterSearch" value="@ViewBag.CurrentFilterSearch" />
        </div>
        <div class="flex-1">
            <button class="button button-blue-back">Search</button>
        </div>
    </div>

    <table class="table w-100 mt">
        <thead>
            <tr>


                @await Html.PartialAsync("_ColumnHeader", new Dictionary<string, string>(){
                {"ColumnName",  nameof(PersonResponse.PersonName)},
                {"DisplayName", "Person Name"}
                })

                @await Html.PartialAsync("_ColumnHeader", new Dictionary<string, string>(){
                {"ColumnName",  nameof(PersonResponse.Email)},
                {"DisplayName", "Email"}
                })

                @await Html.PartialAsync("_ColumnHeader", new Dictionary<string, string>(){
                {"ColumnName",  nameof(PersonResponse.DateOfBirth)},
                {"DisplayName", "Date of Birth"}
                })

                @await Html.PartialAsync("_ColumnHeader", new Dictionary<string, string>(){
                {"ColumnName",  nameof(PersonResponse.Age)},
                {"DisplayName", "Age"}
                })

                @await Html.PartialAsync("_ColumnHeader", new Dictionary<string, string>(){
                {"ColumnName",  nameof(PersonResponse.Gender)},
                {"DisplayName", "Gender"}
                })

                @await Html.PartialAsync("_ColumnHeader", new Dictionary<string, string>(){
                {"ColumnName",  nameof(PersonResponse.CountryName)},
                {"DisplayName", "Country"}
                })

                @await Html.PartialAsync("_ColumnHeader", new Dictionary<string, string>(){
                {"ColumnName",  nameof(PersonResponse.Address)},
                {"DisplayName", "Address"}
                })

                @await Html.PartialAsync("_ColumnHeader", new Dictionary<string, string>(){
                {"ColumnName",  nameof(PersonResponse.ReceiveNewsLetters)},
                {"DisplayName", "Recieve News Letters"}
                })
               
            </tr>
        </thead>
        <tbody>
            @foreach (var person in Model)
            {
                <tr>
                    <td>@person.PersonName</td>
                    <td>@person.Email</td>
                    <td>@person.DateOfBirth?.ToString("dd MMM yyyy")</td>
                    <td>@person.Age</td>
                    <td>@person.Gender</td>
                    <td>@person.CountryName</td>
                    <td>@person.Address</td>
                    <td>@person.ReceiveNewsLetters</td>
                </tr>
            }
        </tbody>
    </table>

</form>
