@model List<PersonResponse>
@{
    ViewBag.Title = "Persons";

}


<form action="~/persons/index" method="get">

    <div class="flex">
        <div class="flex-1 flex">
            <div class="text-grey">
                <span>
                    Contact

                </span>
                <i class="fa-solid fa-caret-right"></i>
                <span>
                    Persons

                </span>
            </div>

        </div>
        <div class="flex-1 text-right">

            <a href="~/persons/create" class="button-link button-blue-back">Create Person</a>
            <a class="ml button-link button-blue-back" asp-controller="Persons" asp-action="PersonsPdf" target="_blank">Generate PDF</a>
            <a class="ml button-link button-blue-back" asp-controller="Persons" asp-action="GetPersonsCSV">Generate CSV</a>
            <a class="ml button-link button-blue-back" asp-controller="Persons" asp-action="GetPersonsXlsx">Generate Excel</a>


        </div>
    </div>

    <div class="table-container">
        <div class="flex">
            <div class="flex1">
                <h1>Persons</h1>
            </div>
            <div class="flex3 text-right">
                <label>Search by:</label>
                <select style="width:200px" class="search-dropdown" name="filterBy">
                    @foreach (KeyValuePair<string, string> option in ViewBag.FilterByOptions)
                    {

                        if (ViewBag.CurrentFilterBy == option.Key)
                        {
                            <option value="@option.Key" selected>
                                @option.Value
                            </option>
                        }

                        {
                            <option value="@option.Key">
                                @option.Value
                            </option>
                        }

                    }
                </select>

                <input style="width:200px" type="search" id="Search" class="search-text" placeholder="Search" name="filterSearch" value="@ViewBag.CurrentFilterSearch" />

                <button class="search-button">Search</button>

            </div>
    </div>

    <table class="table w-100 mt persons">
        <thead>
            <tr>


                @await Html.PartialAsync("_ColumnHeader", new Dictionary<string, string>(){
                {"ColumnName",  nameof(PersonResponse.PersonName)},
                {"DisplayName", "Person Name"}
                })

                @await Html.PartialAsync("_ColumnHeader", new Dictionary<string, string>(){
                {"ColumnName",  nameof(PersonResponse.Email)},
                {"DisplayName", "Email"}
                })

                @await Html.PartialAsync("_ColumnHeader", new Dictionary<string, string>(){
                {"ColumnName",  nameof(PersonResponse.DateOfBirth)},
                {"DisplayName", "Date of Birth"}
                })

                @await Html.PartialAsync("_ColumnHeader", new Dictionary<string, string>(){
                {"ColumnName",  nameof(PersonResponse.Age)},
                {"DisplayName", "Age"}
                })

                @await Html.PartialAsync("_ColumnHeader", new Dictionary<string, string>(){
                {"ColumnName",  nameof(PersonResponse.Gender)},
                {"DisplayName", "Gender"}
                })

                @await Html.PartialAsync("_ColumnHeader", new Dictionary<string, string>(){
                {"ColumnName",  nameof(PersonResponse.CountryName)},
                {"DisplayName", "Country"}
                })

                @await Html.PartialAsync("_ColumnHeader", new Dictionary<string, string>(){
                {"ColumnName",  nameof(PersonResponse.Address)},
                {"DisplayName", "Address"}
                })

                @await Html.PartialAsync("_ColumnHeader", new Dictionary<string, string>(){
                {"ColumnName",  nameof(PersonResponse.ReceiveNewsLetters)},
                {"DisplayName", "Recieve News Letters"}
                })

                <th>
                    Options
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var person in Model)
            {
                <tr>
                    <td>@person.PersonName</td>
                    <td>@person.Email</td>
                    <td>@person.DateOfBirth?.ToString("dd MMM yyyy")</td>
                    <td>@person.Age</td>
                    <td>@person.Gender</td>
                    <td>@person.CountryName</td>
                    <td>@person.Address</td>
                    <td>@person.ReceiveNewsLetters</td>
                    <td>
                        <a class="button-link button-blue-back" asp-controller="Persons" asp-action="Edit" asp-route-personId="@person.PersonId.ToString()">
                            Edit
                        </a>
                            <a class="button-link button-red-back" asp-controller="Persons" asp-action="Delete" asp-route-personId="@person.PersonId.ToString()">
                            Delete
                        </a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>
</form>
