@model PersonAddRequest

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script asp-fallback-test="jQuery" asp-fallback-src="~/jquery-3.7.1.min.map" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.21.0/jquery.validate.min.js" integrity="sha512-KFHXdr2oObHKI9w4Hv1XPKc898mE4kgYx58oqsc/JqqdLMDI4YjOLzom+EMlW8HFUd0QfjfAvxSL6sEq/a42fQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js" integrity="sha512-xq+Vm8jC94ynOikewaQXMEkJIOBp7iArs3IhFWSWdRT3Pq8wFz46p+ZDFAR7kHnSFf+zUv52B3prRYnbDRdgog==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
}



<a href="~/persons/index" class="link-hover">Back to Persons List</a>
@RenderBody()

<div class="w-50">
    <form asp-controller="Persons" asp-action="@ViewBag.FormAction" method="post" enctype="application/x-www-form-urlencoded">

        @*PersonName*@
        <div class="form-field flex">
            <div class="w-25">
                <label for="PersonName" class="form-label pt">Person Name</label>
            </div>
            <div class="flex-1">
                <input asp-for="PersonName" class="form-input" />
                <span class="text-red" asp-validation-for="PersonName"></span>
                @* <input type="text" id="PersonName" name="PersonName" value="@Model?.PersonName" class="form-input" /> *@
            </div>
        </div>


        @*Email*@
        <div class="form-field flex">
            <div class="w-25">
                <label for="Email" class="form-label pt">Email</label>
            </div>
            <div class="flex-1">
                <input asp-for="Email" class="form-input" />
                <span class="text-red" asp-validation-for="Email"></span>
            </div>
        </div>

        @*DateOfBirth*@
        <div class="form-field flex">
            <div class="w-25">
                <label for="DateOfBirth" class="form-label pt">Date of Birth</label>
            </div>
            <div class="flex-1">
                <input asp-for="DateOfBirth" class="form-input" />
                <span class="text-red" asp-validation-for="DateOfBirth"></span>
            </div>
        </div>

        @*Gender*@
        <div class="form-field flex">
            <div class="w-25">
                <label class="form-label">Gender</label>
            </div>
            <div class="flex-1">
                @{
                    var genderOptions = (string[])Enum.GetNames(typeof(GenderOptions));
                }

                @foreach (var gender in genderOptions)
                {
                    <input type="radio" asp-for="Gender" id="@gender" value="@gender" />
                    <label for="@gender">@gender</label>
                }
                <div>
                    <span class="text-red" asp-validation-for="Gender"></span>
                </div>

                @*      <input type="radio" id="Male" name="Gender" value="Male" @(Model?.Gender == GenderOptions.Male ? "checked" : "") />
                <label for="Male">Male</label>

                <input type="radio" id="Female" name="Gender" value="Female" class="ml" @(Model?.Gender == GenderOptions.Female ? "checked" : "") />
                <label for="Female">Female</label> *@

                @*  <input type="radio" id="Other" name="Gender" value="Other" class="ml" />
                <label for="Other">Other</label> *@
            </div>
        </div>

        @*Country*@
        <div class="form-field flex">
            <div class="w-25">
                <label class="form-label" for="CountryID">Country</label>
            </div>
            <div class="flex-1">

                <select asp-for="CountryId" asp-items="@ViewBag.ListCountry" class="form-input">
                    <option disabled selected value="">Please Select</option>

                </select>
                <span class="text-red" asp-validation-for="CountryId"></span>

                @*        <select name="CountryID" id="CountryID" class="form-input">
                <option disabled selected value="">Please Select</option>
                @foreach (CountryResponse country in ViewBag.ListCountry)
                {
                <option value="@country.Id">@country.CountryName</option>
                }
                </select> *@
            </div>
        </div>


        @*Address*@
        <div class="form-field flex">
            <div class="w-25">
                <label for="Address" class="form-label pt">Address</label>
            </div>
            <div class="flex-1">
                <textarea asp-for="Address" class="form-input"></textarea>
                <span class="text-red" asp-validation-for="Address"></span>
            </div>
        </div>

        @*ReceiveNewsLetters*@
        <div class="form-field flex">
            <div class="w-25">
            </div>
            <div class="flex-1">
                <input type="checkbox" asp-for="ReceiveNewsLetters" value="true" />
                <label for="ReceiveNewsLetters" class="form-label">Receive News Letters</label>
            </div>
        </div>

        @*Submit*@
        <div class="form-field flex">
            <div class="w-25">
            </div>
            <div class="flex-1">

                @RenderSection("SubmitButton", false)

                <div class="text-red" asp-validation-summary="All">
                </div>
                @*
                @if (ViewBag.ListAddPersonError != null)
                {
                <div class="text-red ml">
                <ul>
                @foreach (string error in ViewBag.ListAddPersonError)
                {
                <li class="ml">@error</li>
                }
                </ul>
                </div>
                } *@
            </div>
        </div>

    </form>
</div>

